<html ng-app="app">
  <head>
    <title>Angular JS  Study</title>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="/lib/angular-1.4.3/angular.min.js"></script>
    <script src="/lib/angular-1.4.3/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
  </head>
  <style media="screen">
    .jumbotron {
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding: 10px
    }
  </style>
  <body>
    <h1>DeepLink Example</h1>
    <div ng-view></div>
    <div ng-controller="testeController">
      <div class="jumbotron">
        <span ng-show="formExample.$invalid">
          <p class="alert-danger">Preencha os campos obrigatorios</p>
        </span>
        <form method="post" name="formExample">
          <label>Name:</label>
          <input type="text" class="form-control" placeholder="Nome:" ng-model="firstName" required>
          <label>SobreName:</label>
          <input type="text" class="form-control" placeholder="Sobrenome" ng-model="lastName" requiredli>
          <button class="btn btn-primary btn-block" type="button" name="button" ng-disabled="formExample.$invalid">Salvar</button>
        </form>
      </div>
      <hr>
      <h1>Hello {{firstName}} {{lastName}}!</h1>
    </div>
  </body>
</html>
