<html ng-app="app">
  <head>
    <title>Angular JS  Study</title>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="/lib/angular-1.4.3/angular.min.js"></script>
    <script src="/lib/angular-1.4.3/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
  </head>
  <style>
    .jumbotron {
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding: 10px
    }
  </style>
  <body>
    <h1>DeepLink Example</h1>
    <div ng-controller="appController">
      <button type="button" ng-click="getData()">Get Data</button>
      <h2 ng-show="fruits.length > 0"> Fruits</h2>
      <ul>
        <li ng-repeat="fruit in fruits">
          {{fruit.id}} - {{fruit.name}} ({{fruit.color}})
        </li>
      </ul>
    </div>
  </body>
</html>
